@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sõpruse pst 182<br />
    13424 Tallinn<br />
    <abbr title="Phone">P:</abbr>
    (+372)654 2833
</address>

<address>
    <strong>Info:</strong> <a href="mailto:Support@example.com">info@tthk.ee</a><br />
    <strong>Vastuvõtuinfo:</strong> <a href="mailto:Marketing@example.com">vastuvott@tthk.ee</a>
</address>