@{
    ViewBag.Title = "Avaleht";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET on tasuta veebiraamistik suurepäraste veebisaitide ja veebirakenduste loomiseks, kasutades HTML-i, CSS-i ja JavaScripti.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Lisateavet &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Minu portfoolio</h2>
        <p>Minu veebisaidilt leiate minu tehtud projekte.</p>
        <p><a class="btn btn-default" href="https://antonbuivol22.thkit.ee/noteblockk.wordpress.com/">Lisateavet &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tallinna tööstusharidukeskus</h2>
        <p>Külasta veebilehte Tallinna tööstusharidukeskus.</p>
        <a class="btn btn-default" href="https://www.tthk.ee/">
            <img src="~/Images/tthk.png" alt="Alternate Text" />
        </a>
    </div>
</div>
<div>
    <img src="~/Images/tthkBig.jpg" alt="Alternate Text" />
</div>